{% extends 'base.html.twig' %}

{% block title %}New Collection{% endblock %}

{% block body %}
    <h1>Create new collection</h1>

    {{ include('ma_collection/_form.html.twig') }}

    <a href="{{ path('collection_list') }}">back to list</a>
{% endblock %}
