{% extends 'base.html.twig' %}

{% block title %}New Card{% endblock %}

{% block body %}
    <h1>Create new card</h1>

    {{ include('carte_joueur/_form.html.twig') }}

    <a href="{{ path('collection_list') }}">back to list</a>
{% endblock %}
